{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block actions %}
    <div class="sonata-actions">
        {% if admin.hasroute('show') and admin.id(object) and admin.isGranted('VIEW', object) and admin.show|length > 0 %}
            <a class="btn sonata-action-element" href="{{ admin.generateObjectUrl('show', object) }}">{{ 'link_action_show'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object)%}
            <a class="btn sonata-action-element" href="{{ admin.generateObjectUrl('edit', object) }}">{{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasroute('history') and admin.id(object) and admin.isGranted('EDIT', object) %}
            <a class="btn sonata-action-element" href="{{ admin.generateObjectUrl('history', object) }}">{{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
        {% if admin.hasroute('list') and admin.isGranted('LIST')%}
            <a class="btn sonata-action-element" href="{{ admin.generateUrl('list') }}">{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block form %}
    <div class="well">
        Available segments:
        <ul>
            {% for field in content_template %}
            <li>{{ field.name }}</li>
            {% endfor %}
        </ul>
    </div>

    {% set render_fieldset = true %}
    <form class="form-horizontal" {{ form_enctype(form) }} action="{{ path('admin_lacus_main_mapper_configure',{'id':object.id}) }}" method="post">
        {{ form_row(form.account) }}
        {{ form_row(form.data) }}

        {{ form_rest(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}
