{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    <div class="well">
        Available segments:
        <ul>
            {% for field in content_template %}
            <li>{{ field.name }}</li>
            {% endfor %}
        </ul>
    </div>

    {% set render_fieldset = true %}
    <form class="form-horizontal" {{ form_enctype(form) }} action="{{ path('admin_lacus_main_mapper_configure',{'id':object.id}) }}" method="post">
        {{ form_row(form.account) }}
        {{ form_row(form.data) }}

        {{ form_rest(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}
