<form class="modal-form form-finalize" method="post" {{ form_enctype(form) }}
      action="{{ path('admin_lacus_main_post_provider_post',{'mapperId':post.mapper.id}) }}">

    {{ form_errors(form) }}

    <div class="tabbable">
        <div class="navbar navbar-static">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active"><a href="#tab-info" data-toggle="tab">Content</a></li>
                    <li><a href="#tab-files" data-toggle="tab">Files</a></li>
                    <li><a href="#tab-options" data-toggle="tab">Posting options</a></li>
                </ul>
            </div>
        </div>
        <div class="modal-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab-info">
                    {% for content_field in form.content %}
                        {{ form_row(content_field,{'attr':{'class':'input-block-level' }}) }}
                    {% endfor %}
                </div>
                <div class="tab-pane" id="tab-files">
                    {{ form_row(form.post_files) }}
                    {% if form.post_files|length == 0 %}
                        No files
                    {% endif %}
                </div>
                <div class="tab-pane" id="tab-options">
                    {% if form.status is defined %}
                        {{ form_row(form.status) }}
                    {% endif %}
                    {% if form.account is defined %}
                    {{ form_row(form.account) }}
                    {% endif %}
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </div>


    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>